.PrincipalBanner-container{
  background-color: #262b3a;
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 55vh;
}

.PBInfo-container{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  height: 50vh;
  margin-right: 50px;
  
}
#PBInfo-content{
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}
#PBInfo-title{
  text-align: left;
  font-size: 35px;
  font-weight: 600;
}

.Modal-container{
  width: 50%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:1125px) {
  .Modal-container{
  display: none;
}
}

.PBInfo-container_buttons{
  display: flex;
  margin-top: 40px;

}
#watchnowButton{
  background-color: #24baef;
  color: #ffffff;
  border: 1px solid transparent;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  margin: 10px 10px 10px 0px;
  padding: 15px 35px 15px 35px;
}
#watchnowButton:hover{
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
#playlistButton{
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  margin: 10px 10px 10px 10px;
  padding: 15px 40px 15px 40px;
}
#playlistButton:hover{
  background-color: #24baef;
  color: #ffffff;
  border: 1px solid transparent;
}
#reproductorButton{
  background-color: transparent;
  color: transparent;
  border: none;
  object-fit:cover;
}
#reproductorImg{
  width: 70%;
}

